<html>
  <head>
    <title>DB Web UI - Вход в систему</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Вход в систему</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Имя пользователя" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Пароль" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Вход" style = "background-color: teal; color: white">
      </form>
      {% if error %}
        <p class="error"><strong>Ошибка: </strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
